.userDestinations {
    -fx-pref-height: 200;
    -fx-pref-width: 175;
    -fx-padding: 10;
    -fx-spacing: 5;
    -fx-margin: 200 0 0 0;
}
.destinations {
    -fx-background-color: lightblue;
    -fx-margin: 20 0 0 0;
    -fx-pref-width: 175;
    -fx-font-size: 18px;
}
.menu-bar{
    -fx-padding: 10 15;
}
.menu-bar .label{
    -fx-font-size: 16px;
}
.setOrigin {
    -fx-background-color: white;
    -fx-pref-width: 200;
    -fx-pref-height: 160;
    -fx-padding: 10;
    -fx-spacing: 5;
    -fx-border-color: black;
}
.addDestination {
    -fx-background-color: white;
    -fx-pref-width: 260;
    -fx-pref-height: 140;
    -fx-padding: 10;
    -fx-spacing: 5;
    -fx-border-color: black;
}
.addDestinationCounty {
    -fx-background-color: white;
    -fx-pref-width: 260;
    -fx-pref-height: 140;
    -fx-padding: 10;
    -fx-spacing: 5;
    -fx-border-color: black;
}
.removeDestination {
    -fx-background-color: white;
    -fx-pref-width: 200;
    -fx-pref-height: 120;
    -fx-padding: 10;
    -fx-spacing: 5;
    -fx-border-color: black;
}
.setBands {
    -fx-background-color: white;
    -fx-font-size: 14px;
    -fx-pref-width: 450;
    -fx-pref-height: 140;
    -fx-padding: 10;
    -fx-spacing: 5;
    -fx-border-color: black;
}
.error {
    -fx-background-color: white;
    -fx-font-size: 14px;
    -fx-pref-width: 380;
    -fx-pref-height: 140;
    -fx-padding: 10;
    -fx-spacing: 5;
    -fx-border-color: black;
}